BASE_DIR=/home/ubuntu/code/meg
TRAIN_CODE_DIR=${BASE_DIR}/src

OUTPUT_DIR=/home/ubuntu/outputs/meg
CKPT_DIR=${OUTPUT_DIR}/checkpoints
LOGS_DIR=${OUTPUT_DIR}/logs

declare -A MODELS
MODELS[mistralai/Mistral-7B-Instruct-v0.1]=mistral-instruct
MODELS[mistralai/Mistral-7B-Instruct-v0.3]=mistral-instruct3
MODELS[mistralai/Mixtral-8x7B-Instruct-v0.1]=miXtral-instruct
MODELS[meta-llama/Llama-3.1-8B-Instruct]=llama3-instruct-8B
MODELS[meta-llama/Llama-3.2-3B-Instruct]=llama3-instruct-3B

WANDB_ENTITY="your-entity-name"
WANDB_PROJECT="MEG"