BASE_DIR=/home/ubuntu/code/MEG
TRAIN_CODE_DIR=${BASE_DIR}/src
BASE_DATA_DIR=/home/ubuntu/data

OUTPUT_DIR=/home/ubuntu/outputs/MEG
CKPT_DIR=${OUTPUT_DIR}/checkpoints
LOGS_DIR=${OUTPUT_DIR}/logs

declare -A MODELS
MODELS[mistralai/Mistral-7B-Instruct-v0.1]=mistral-instruct-v0.1
MODELS[mistralai/Mistral-7B-Instruct-v0.3]=mistral-instruct-v0.3
MODELS[meta-llama/Llama-3.1-8B-Instruct]=llama-3.1-instruct
MODELS[lautel/MEG-Mistral-7B-Instruct-v0.1]=meg-mistral-instruct-v0.1
MODELS[lautel/MEG-Mistral-7B-Instruct-v0.3]=meg-mistral-instruct-v0.3
MODELS[lautel/MEG-Llama-3.1-8B-Instruct]=meg-llama-3.1-instruct

WANDB_ENTITY="your-entity-name"
WANDB_PROJECT="MEG"